node_modules
npm-debug.log

.git
.gitignore
.github

.vscode

dist
dist-*
build

.venv

*.log
*.local

.env
.env.*
!.env.example
!.env.docker.example

.yjs-data
uploads

screenjitter.mp4

Dockerfile
docker-compose.yml